<form class="form-inline container inline">
<fieldset>

<!-- Form Name -->
<legend>Convert</legend>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="fileType">Select all</label>
  <div class="controls">
    <label class="radio inline" for="fileType-1">
      <input type="radio" name="fileType" id="fileType-1" value="SGR">
      SGR
    </label>
    <label class="radio inline" for="fileType-3">
      <input type="radio" name="fileType" id="fileType-3" value="WIG">
      WIG
    </label>
  </div>
</div>
<br>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="fileSelect">Select files</label>
  <div class="controls">

  <!--- Fill checkboxes with files -->
    <% _.each(files, function(file) { %>
            <input type="checkbox" /> <%= file %> <br />
<% });  %>
  </div>
</div>
<br>

<!-- Multiple Radios (inline) -->
<div class="control-group">
  <label class="control-label" for="convertTarget">Convert To</label>
  <div class="controls">
    <label class="radio inline" for="convertTarget-0">
      <input type="radio" name="convertTarget" id="convertTarget-0" value="WIG" checked="checked">
      WIG
    </label>
    <label class="radio inline" for="convertTarget-1">
      <input type="radio" name="convertTarget" id="convertTarget-1" value="SGR">
      SGR
    </label>
    <label class="radio inline" for="convertTarget-2">
      <input type="radio" name="convertTarget" id="convertTarget-2" value="GFF">
      GFF
    </label>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Convert</button>
  </div>
</div>

</fieldset>
</form>
