<tbody class="<%- status %>">
		<tr>
			<td rowspan="<%- processes.length + 1 %>" class="status-cell"><span class="glyphicon" data-toggle="tooltip" data-placement="left" title="<%- status %>"></span></td>
		</tr>
	<% _.each(processes, function(process, i) { %>
		<tr class="clickable" data-expid="<%- process["experimentName"] %>">
			<td><%- process["experimentName"] %></td>
			<td class="text-right"><%- process["timeAdded"] %></td>
			<td class="text-right"><%- process["timeStarted"] %></td>
			<td class="text-right"><%- process["timeFinished"] %></td>
			<td class="text-right"><button type="button" class="close" aria-hidden="true" id="processClose" value=<%- process['PID'] %>></button></td>
		</tr>
	<% }) %>
</tbody>