<div id="bowtie_block" class="form-group">
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-3"><label>Bowtie</label></div>
        <div class="col-xs-6"/>
        <div class="col-xs-1"><button class="close" id="close">x</button></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-3"><label>Infile</label></div>
        <div class="col-xs-3"><label>Outfile</label></div>
        <div class="col-xs-2"><label>Parameters</label></div>
        <div class="col-xs-2"><label>Keep .SAM</label></div>
    </div>
    <div id="bowtie_entries">
        
    </div>
    <div class="col-xs-11"/>
    <div class="col-xs-11"><button class="close" id="add_entry">+</button></div>
    <br/>
    <hr/>
</div>
