<form role="form">
	<div class="modal-body">
		<div class="form-group">
			<label for="param1">Bowtie</label>
			<input type="text" class="form-control" id="param1" value="-a -m 1 --best -p 10 -v 2 -q -S">
		</div>
		<div class="form-group">
			<label for="param2">Genome</label>
			<input type="text" class="form-control" id="param2" value="d_melanogaster_fb5_22">
		</div>
		<div class="form-group">
			<label for="param3">Smoothing parameters</label>
			<input type="text" class="form-control" id="param3" value="10 1 5 0 0">
		</div>
		<div class="form-group">
			<label for="param4">AllSeqRegSGRtoPositionSGR_v1</label>
			<input type="text" class="form-control" id="param4" value="y 10">
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Proccess file</button>
	</div>
</form>
