<tr class="title-row"> <!-- MAIN EXPERIMENT ROW -->
	<td class="expand-cell">
		<button class="expand-button expand-experiment-button glyphicon"></button>
	</td>
	<td class="check-cell">
		<!--<input class="checked-input" type="checkbox">-->
	</td>
	<td>
		<span><%- experiment.get("name") %></span>
	</td>
	<% annotations.each(function(annotation) { %>  
		<td>
			<span><%- experiment.getAnnotation(annotation.attributes.name).value %></span>
		</td>
	<% }); %>
</tr>
<tr class="table-row">
	<td colspan="<%- annotations.length + 3 %>">
		<table class="table">
			
		</table>
	</td>
</tr>