<div class="entry">
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-2"><input name="infile" type="text" class="form-control"/></div>
        <div class="col-xs-2"><input name="outfile" type="text" class="form-control"/></div>
        <div class="col-xs-1">
            <select name="genomeVersion" class="form-control" id="genomeVersion">
                <% _.each(genomeVersions, function(file) { %>
                    <option><%- file %></option>
                <% }); %>
            </select>
        </div>
        <div class="col-xs-1"><input name="params" type="text" class="form-control" value=""/></div>
        <div class="col-xs-1"><input name="keepSam" type="checkbox" checked="false"/></div>
        <div class="col-xs-1"><input name="extendReads" type="checkbox" checked="false"/></div>
        <div class="col-xs-1"><input name="removeDups" type="checkbox" checked="false"/></div>
        <div class="col-xs-1"><button class="close" id="close_raw_to_profile_entry">x</button></div>
    </div>
</div>
<br/>
