body>.alert-wrap {
	position: absolute;
	top:-500px;
	text-align:center;
	width:100%;
}
.alert-wrap .alert {
	z-index:10;
	display:inline-block;
	text-align:center;
	position:relative;
	top: 520px;
}
