#container {
	padding-left: 40px;
	padding-right: 40px;
	float:left;
    width: 90%;
}

#search_field {
	width: 400px;
}

#confirmAnnotation-btn {
    margin-right: 30px;
}

#sidebarID {
    width: 10%;
    float:left;
}

.active {
    background-color: #FFFFFF;
}

