.alert-container .close {
	outline: none;
}

.alert-container {
	position: absolute;
	top: 53px;
	height:	0;
	text-align:center;
	width:100%;
}
.alert-container .alert {
	z-index:10;
	display:inline-block;
	text-align:center;
	margin: 0;
	padding: 8px 35px 8px 15px;
	height: 38px;
}
