#raw-process-container .column-container {
	padding-right: 15px;
}

#raw-process-container .column-container .col-sm-4 {
    padding-right: 0;
}

#raw-process-container .checkbox-inline {
    margin-bottom: 5px;
}

#raw-process-container .checkbox-inline:not(:first-child) {
    margin-left: 15px;
}

#raw-process-container h5 {
    margin-top: 2px;
    font-size:13pt;
    font-weight: bold;
}

#raw-process-container label {
    font-size:10pt;
    font-weight: normal;
}

#raw-process-container .triple-container > div > * {
	width: 100%;
	margin: 0;
}

#raw-process-container .triple-container .form-group:not(:first-child) {
	padding-left: 15px;
}



#raw-process-container .form-inline .input-group {
	border: 2px dashed #444;
    height: 125px;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#raw-process-container .alert span {
    font-weight: 700;
}

#raw-process-container .disabled {
    opacity: 0.5;
}


#raw-process-container .row .col-xs-1 {
    padding: 0 0 0 30px;
}

.checkbox {
	width: 150px;
    height: 25px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.list-row {
    padding-left: 15px
}