#raw-process-container .triple-container .form-group {
	width: 33.33333%;
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
#raw-process-container h5 {
    margin-top: 2px;
    font-size:13pt;
    font-weight: bold;
}

#raw-process-container label {
    font-size:10pt;
    font-weight: normal;
}

#raw-process-container .triple-container > div > * {
	width: 100%;
	margin: 0;
}

#raw-process-container .triple-container .form-group:not(:first-child) {
	padding-left: 15px;
}

#raw-process-container .form-inline .input-group {
	border: 2px dashed #444;
    height: 125px;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;

    /* just for demo */
}

#raw-process-container .alert span {
    font-weight: 700;
}

.checkbox {
	width: 150px;
    height: 25px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
