
/* === BEGIN SEARCH FORM === */

#search_form {
	text-align: center;
	margin: 40px auto;
}

.search-toolbar {
	position: relative;
	display: table;
	margin: 0 auto;
}

.search-toolbar > div {
	display: table-cell;
	padding-right: 8px;
	vertical-align: top;
}

#search_input {
	width: 400px;
}

/* === END SEARCH FORM === */


/* === BEGIN SEARCH RESULTS === */

#results_container {
	
}

#results_container .panel-heading {
	border-bottom: 0;
}

#results_container thead {
	background: #f5f5f5;
}

.experiment-group:not(.expanded) .expand-row,
.experiment-group:not(.raw-expanded) .raw-header-row,
.experiment-group:not(.raw-expanded) .raw-file-row,
.experiment-group:not(.profile-expanded) .profile-header-row,
.experiment-group:not(.profile-expanded) .profile-file-row,
.experiment-group:not(.region-expanded) .region-header-row,
.experiment-group:not(.region-expanded) .region-file-row {
	display: none;
}

.expand-button {
	background: none;
	border: none;
}

.expand-button:focus {
	outline: none;
}

.expand-button:before {
	content: "\2b";
}

.expanded .expand-experiment-button:before,
.raw-expanded .raw-expand-row .expand-button:before,
.profile-expanded .profile-expand-row .expand-button:before,
.region-expanded .region-expand-row .expand-button:before {
	content: "\2212";
}

.expand-row .expand-button {
	position: relative;
	left: 10px;
}

/* === END SEARCH RESULTS === */
