
/* === BEGIN SEARCH FORM === */

#search_form {
	text-align: center;
	margin: 40px auto;
}

.search-toolbar {
	position: relative;
	display: table;
	margin: 0 auto;
}

.search-toolbar > div {
	display: table-cell;
	padding-right: 8px;
	vertical-align: top;
}

@media (min-width: 768px) {
	#search_input {
		width: 365px;
	}
}

@media (min-width: 992px) {
	#search_input {
		width: 585px;
	}
}

/* === END SEARCH FORM === */


/* === BEGIN SEARCH RESULTS === */

#results_container {
	overflow-x: hidden;
	
}

#results_container #table_container {
	overflow-x: auto;
}

#results_container .panel-heading {
	border-bottom: 0;
	width:100%;
}

.search-table td {
	white-space: nowrap;
}

.search-table {
	margin: 0;
}

.search-table-head thead {
	background: #f5f5f5;
}

.experiment-group .expand-cell {
	width: 50px;
}

.experiment-group .check-cell {
	width: 50px;
}

.experiment-group > tr.table-row,
.file-group > tr.file-row,
.file-group > tr.header-row {
	display: none;
}

.experiment-group.expanded .table-row,
.file-group.expanded .file-row,
.file-group.expanded .header-row {
	display: table-row;
}

.experiment-group .table-row > td {
	padding: 0;
}

.experiment-group .table-row .expand-row > td,
.experiment-group .table-row .header-row > td,
.experiment-group .table-row .file-group {
	border: none;
}

.file-group.empty-group {
	opacity: 0.2;
}

.file-group .file-row:last-child td {
	border-bottom: 1px solid #ddd;
}

.table-row .table {
	background-color: #f6f6f6;
}

.experiment-group .table {
	margin: 0;
}

.experiment-group .table thead {
	margin: 0;
	background: none;
}

.experiment-group.expanded .header-row th {
	padding-top: 0;
	border: none;
}

.expand-button {
	background: none;
	border: none;
}

.expand-button:focus {
	outline: none;
}

.expand-button:before {
	content: "\2b";
}

.expanded .expand-experiment-button:before,
.file-group.expanded .expand-type-button:before {
	content: "\2212";
}

.expand-row .expand-button {
	position: relative;
	left: 10px;
}

.search-table h2 {
    color: #646464;
    border-radius: 6px;
    margin: 0;
    font: .8em verdana;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.loading {
	text-align: center;
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .2em;
    background: #39b3d7;
    border-radius: .6em;
    -webkit-animation: loading 1s infinite alternate;
}
.loading span:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
    -webkit-animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
    -webkit-animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
    -webkit-animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
    -webkit-animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
    -webkit-animation-delay: 1.2s;
}
@-webkit-keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* === END SEARCH RESULTS === */

/* === BEGIN QUERY BUILDER === */

.query-builder {
	max-width: none;
	left: 0;
	top: 25px;
}

@media (min-width: 768px) {
	.query-builder {
		width: 493px;
	}
}

@media (min-width: 992px) {
	.query-builder {
		width: 711px;
	}
}

.query-builder .arrow {
	left: initial !important;
	right: 98px;
}

.query-builder .popover-content {
	text-align: center;
	width: 100%;
	padding: 0;
}

.query-builder .dropdown-menu {
	text-align: left;
}

.query-builder .popover-content > div > * {
	padding: 5px;
}

.query-builder .popover-content > div > :not(:last-child) {
	padding-right: 0;
}

.query-builder .popover-content > div > * > * {
	width: 100%;
}

.query-builder.appending .append-only {
	display: none;
}

.dropdown-toggle.left-align {
	padding-right: 25px;
	text-align: left;
}

.dropdown-toggle.left-align :last-child {
	position: absolute;
	right: 12px;
	top: 14px;
}

/* === END QUERY BUILDER === */