#upload_form {
	text-align: center;
	margin: 20px auto;
}

#upload_form #existing_experiment_field{
	width: 400px;
}

#experiment_form .annotation-list {
	padding-top: 5px;
}

#experiment_form .annotation-list li {
	display: inline-block;
	list-style: none;
	margin: 10px;
	padding: 0;
	padding-top: 10px;
	position: relative;
}

#experiment_form .annotation-list input {
	width: 150px;
}

#experiment_form .annotation-list select {
	width: 150px;
}

#experiment_form .annotation-list label {
	position: absolute;
	font-size: 0.9em;
	top: -5px;
	left: 10px;
	
	font-weight: normal;
}

.experiment-container .drag-over .panel-body {
	background-color: rgba(167, 207, 144, 0.3);
}
.experiment-container .panel-body {
	transition: background-color 0.3s ease-out;
}
.experiment-container .drag-over * {
	pointer-events: none;
}

/*
 * To avoid dragenter and dragleave triggering on child elements
 */

#file_upload {
	text-align: center;
}

#file_upload ul{
	margin-top: 40px;
}

/*#selector {
	display: inline-block;
	list-style: none;
	width:150px;
	margin-bottom: 10px;
	margin-top: 12px;
	margin-left: 30px;
	float: right;
}

#removeFile {
	margin-top: 12px;
	margin-left: 10px;
	float: right;
}*/

#remove_experiment {
	margin-left: 10px;
}

#clone_annotations {
	margin-left: 10px;
}

#removeExperiment {
	margin-top: -7px;
}
