<div id="smooth_block" class="form-group">
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-3"><label>Smooth</label></div>
        <div class="col-xs-6"/>
        <div class="col-xs-1"><button class="close" id="close_smooth_block">x</button></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-2"><label>Infile</label></div>
        <div class="col-xs-2"><label>Outfile</label></div>
        <div class="col-xs-2"><label>Parameters</label></div>
    </div>
    <div id="smooth_entries">
        
    </div>
    <div class="col-xs-9"/>
    <div class="col-xs-1">
        <button class="btn btn-add" id="add_smooth_entry">+</button>
    </div>
    <br/>
    <hr/>
</div>