<form role="form" id="edit_file_form">
    <div class="modal-body">
        <div class="form-group">
            <label>File name</label>
            <input id="new_filename" type="text" class="form-control" placeholder="<%- filename %>">
        </div>
        <div class="form-group">
            <label>Meta data</label>
            <input id="new_metaData" type="text" class="form-control" placeholder="<%- metaData %>">
        </div>
        <div class="form-group">
            <label>Author</label>
            <input id="new_author" type="text" class="form-control" placeholder="<%- author %>">
        </div>
    </div>
    <div class="modal-footer">
         <button id="submit_edit" class="btn btn-primary">Edit file</button>
    </div>
</form>
