<div class="row">
    <div class="col-xs-2"/>
    <div class="col-xs-2"><input name="infile" type="text" class="form-control"/></div>
    <div class="col-xs-2"><input name="outfile" type="text" class="form-control"/></div>
    <div class="col-xs-2"><input name="params" type="text" class="form-control" placeholder="not_params"/></div>
    <div class="col-xs-1"><input name="saveSam" type="checkbox" checked="true"/></div>
    <div class="col-xs-1"><button class="close" id="close">x</button></div>
</div>
<br/>
