<form role="form">
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-5">
            <h3>Files found in experiment "<%- this.model.get("expId") %>": </h3>
            <ul>
                <% _.each(files, function(file) { %>
                    <li><%- file %></li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div id="processes">
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-5">
            <h2>Process builder</h2>
        </div>
    </div>
    </div>
    <div>
        <br/>
        <div class="row">
            <div class="col-xs-3"/>
            <div class="col-xs-4">
                <select class="form-control" id="append_process">
                    <% _.each(["rawToProfile", "smooth", "step", "ratio"], function(process) { %>
                        <option id="<%- process %>"><%- process.charAt(0).toUpperCase() + process.slice(1) %></option>
                    <% }); %>
                </select>
            </div>
            <div class="col-xs-2">
                <button class="btn" id="append_process_btn">Add</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="submit" class="btn btn-primary">Process</button>
    </div>
</form>
