<div id="ratio_block" class="form-group">
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-3"><label>Ratio calculation</label></div>
        <div class="col-xs-6"/>
        <div class="col-xs-1"><button class="close">x</button></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-2"><label>Infile 1</label></div>
        <div class="col-xs-2"><label>Infile 2</label></div>
        <div class="col-xs-2"><label>Outfile</label></div>
        <div class="col-xs-2"><label>Parameters</label></div>
    </div>
    <div id="ratio_entries">
        
    </div>
    <div class="col-xs-11"/>
    <div class="col-xs-11"><button class="close">+</button></div>
    <br/>
    <hr/>
</div>
