<a href="#/admin/createannotation" class="btn btn-default">Create New Annotation</a>
<hr />
<div class="search-toolbar">
	<div>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search Annotation" id="search_field" />
			<span class="input-group-btn">
				<button type="submit" disabled="disabled" class="btn btn-default" id="search_button">
					<span class="glyphicon glyphicon-search"></span> Search
				</button> </span>
		</div>
	</div>
</div>

<div class="page"></div>
