<div class="modal-body" id="caModal-container">
    <div id="name"><label>Name</label><br><%= values[0] %></div>
    <hr>
    <div id="type"><label>Type</label><br><%= values[2] %></div>
    <hr>
    <div id="forced"><label>Forced</label><br><%= values[1] %></div>
    
    <% if(values[2] == "Drop-down list") { %>  
        <hr>
    <div id="values"><label>Values</label><br>
        <% _.each(values[3], function(value) { %>
            <%=value %><br>
        <% }); %>
    </div>
    <% } %>
    <div class="modal-footer">
        <button class="btn btn-danger" id="cancelAnnotation-btn">Cancel</button>
        <button class="btn btn-primary" id="confirmAnnotation-btn">Confirm</button>
    </div>

</div>

