<link rel="stylesheet" href="css/main-sysadmin.css">

<div id="container">
	<span class="btn btn-default btn-file"> Select files to upload
		<input id="choose_files" type="file" accept="" multiple class="fileInput" value="Browse"/>
	</span>
	<br>
	<br>

	<div id="progress-bar-container">
		<div class="progress">
			<div class="progress-bar" id="pbar" style="width: 20%;"></div>
		</div>
	</div>

	<table class="table table-striped">
		<thead id="genome_table">
			<tr>
				<th id="th_species"><a>Species</a></th><th id="th_version"><a>Version</a></th><th id="th_filename"><a>Filenames</a></th>
			</tr>
		</thead>
		<tbody id="genome_table_body">
			<% _.each(genomeReleaseFiles, function(genomeReleaseFile) { %>
			<tr>
				<td><%= genomeReleaseFile.get('species') %></td>
				<td><%= genomeReleaseFile.get('genomeVersion') %></td>

				<td title="<% _.each(genomeReleaseFile.get('files'), function(fileName) { %><%= fileName %> <% }); %>"><%=genomeReleaseFile.get('files')[0] + ", ..." %></td>

				<td><a class="delete_genome_btn btn btn-danger" id="<%= genomeReleaseFile.get('species')%>,<%= genomeReleaseFile.get('genomeVersion')%>">Delete</a></td>
			</tr>
			<% }); %>
		</tbody>
	</table>
</div>