<div id="wrapper">
	<div id="page-content-wrapper" class="adjust-pos-floatRight">
		<div class="page-content">
			<div class="container" id="adjust-floatLeft">
						<h1>Annotations</h1>
						<hr />
			</div>
		</div>
	</div>
	<div id="sidebar-wrapper" class="adjust-pos-floatLeft">
		<div class="adjust-floatRight">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#">Annotations</a>
			</li>
			<li>
				<a href="#">Another link</a>
			</li>
			<li>
				<a href="#">Next link</a>
			</li>
			<li>
				<a href="#">Last link</a>
			</li>
		</ul>      
		 </div> 
	</div>
</div>