<div class="modal-body" id="grModal-container">
    <div id="name">
        <label>File Name</label>
        <br>
        <%= fileName %>
    </div>
    <hr>
    <label>Specie</label>
    <input class="form-control" id="specie_field"type="text" placeholder="Specie e.g. Human"value="">
    <hr>
    <label>Version</label>
    <input class="form-control" id="version_field"type="text" placeholder="Version e.g. hy17" value="">
    <hr>
    <button class="btn btn-primary" disabled="" id="upload_genome_release-btn">
        Upload
    </button>
    <button class="btn btn-danger" id="cancel_genome_release-btn">
        Cancel
    </button>
</div>

