<div id="step_block" class="form-group">
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-3"><label>Step</label></div>
        <div class="col-xs-6"/>
        <div class="col-xs-1"><button class="close" id="close_step_block">x</button></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-2"><label>Infile</label></div>
        <div class="col-xs-2"><label>Outfile</label></div>
        <div class="col-xs-1"><label>Step size</label></div>
    </div>
    <div id="step_entries" class="entries" name="step">
        
    </div>
    <div class="col-xs-9"/>
    <div class="col-xs-1">
        <button class="btn btn-add" id="add_step_entry">+</button>
    </div>
    <br/>
    <hr/>
</div>
