<div id="ratio_block" class="form-group">
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-3"><label>Ratio calculation</label></div>
        <div class="col-xs-6"/>
        <div class="col-xs-1"><button class="close" id="close_ratio_block">x</button></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-1"/>
        <div class="col-xs-2"><label>Pre-chip file</label></div>
        <div class="col-xs-2"><label>Post-chip file</label></div>
        <div class="col-xs-2"><label>Outfile</label></div>
        <div class="col-xs-1"><label>Mean</label></div>
        <div class="col-xs-1"><label>Reads cut-off</label></div>
        <div class="col-xs-1"><label>Chromosomes</label></div>
    </div>
    <div id="ratio_entries" class="entries" name="ratio">
        
    </div>
    <div class="col-xs-9"/>
    <div class="col-xs-1">
        <button class="btn btn-add" id="add_ratio_entry">+</button>
    </div>
    <br/>
    <hr/>
</div>
