<div class="row">
    <div class="col-xs-1"/>
    <div class="col-xs-2"><input name="preChipFile" type="text" class="form-control"/></div>
    <div class="col-xs-2"><input name="postChipFile" type="text" class="form-control"/></div>
    <div class="col-xs-2"><input name="outfile" type="text" class="form-control"/></div>
    <div class="col-xs-1">
        <select name="mean" class="form-control">
            <% _.each(["single", "double"], function(file) { %>
                <option enabled><%- file %></option>
            <% }); %>
        </select>
    </div>
    <div class="col-xs-1"><input name="readsCutoff" type="number" class="form-control"/></div>
    <div class="col-xs-1"><input name="chromosomes" type="text" class="form-control"/></div>
    <div class="col-xs-1"><button class="close" id="close_ratio_entry">x</button></div>
</div>
<br/>
