<div class="panel-group" id="accordion">
	<div id="input-container" class="panel panel-default">
		<div class="panel-heading">
				<button class="btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<span class="glyphicon glyphicon-minus"></span>
				</button> Experiment
				<button type="button" id="removeExperiment" class="btn btn-default pull-right">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<form id="experiment-form">
				<div class="newAnnotation"></div>
				<hr>
					<div class="fileUploadList"></div>
				<hr>
				<button id="cloneButton" type="button" class="btn btn-default">
				Clone Experiment
					</button>
				<button type="submit" disabled class="btn btn-primary pull-right" id="uploadFilesButton">
				Upload files to experiment
				</button>
				</form>
			</div>
		</div>
	</div>
</div>