<div class="panel-group" id="experimentGroup">
	<div id="input-container" class="panel panel-default">

		<div class="panel-heading">
				 Unnamed experiment
		</div>

		<div class="pull-right">
			<!-- Minimize experiment button -->
			<button type="button" id="minimizeExperiment" class="btn btn-default">
				<span class="glyphicon glyphicon-minus"></span>
			</button>

			<!-- Close experiment button -->
			<button type="button" id="removeExperiment" class="btn btn-default">
					<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>

		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<form id="experiment-form">
					<div class="newAnnotation"></div>
					<hr/>
					<div class="fileUploadList"></div>
					<hr/>
					<button id="cloneButton" type="button" class="btn btn-default">
						Clone Experiment
					</button>
					<div class="btn-group pull-right">
						<button type="button" disabled class="btn btn-primary upload-experiment" id="uploadFilesButton">
							<span class="glyphicon glyphicon-upload"></span>
							Upload experiment
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>