<div class="input-group" id="test">
  <input type="text" name="fileName" class="form-control" value=<%- fileName %> placeholder="File Name" required >
  <span class="input-group-addon"><%- fileSize %></span>

  <button type="button" id="removeFile" class="btn btn-default form-control">
		<span class="glyphicon glyphicon-remove"></span>
	</button>

  <select id="selector" class="form-control">
		<option value=raw <% if (fileName.split('.').pop() == 'fastq') { %> selected <% } %>>Raw</option>
		<option value=profile <% var f = fileName.split('.').pop(); if ((f == 'sgr') || (f == 'wig')) { %> selected <% } %>>Profile</option>
		<option value=region <% if (fileName.split('.').pop() == 'gff') { %> selected <% } %>>Region</option>
	</select>
</div>