<div class="input-group" id="test">
	<input type="text" name="fileName" class="form-control" value=<%- fileName %> placeholder="File Name" required>
	<span class="input-group-addon" style="width:100px"><%- fileSize %></span>

	<select class="form-control type-select">
		<option value=raw <% if (fileName.split('.').pop() == 'fastq') { %> selected <% } %>>
			Raw
		</option>
		<option value=profile <% var f = fileName.split('.').pop(); if ((f == 'sgr') || (f == 'wig')) { %> selected <% } %>>
			Profile
		</option>
		<option value=region <% if (fileName.split('.').pop() == 'gff') { %> selected <% } %>>
			Region
		</option>
	</select>

	<button type="button" class="btn btn-remove">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
</div>
