<form class="form-inline container" role="form" id="upload_form">
	<div class="search-toolbar">
		<div>
			<div class="input-group">
			<input id="existing_experiment_field" type="text" class="form-control" placeholder="Experiment name">
			<span class="input-group-btn">
				<button id="add_button" class="btn btn-default" type="button" disabled="disabled">
					<span class="glyphicon glyphicon-edit"></span> 
					Add to existing experiment
				</button>
			</div>
		</div>
		<div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" id="CreateExperiment">
					<span class="glyphicon glyphicon-plus-sign"></span> 
					Create new experiment
				</button>
			</div>
		</div>
	</div>
</form>

<div class="container experiment-container" style="display:none;">
	<div id="input-container" class="panel panel-default">
		<div class="panel-heading">Experiment</div>
			<div class="panel-body">
				<form id="experiment-form">
					<div id="newAnnotation"></div>
					<hr>
					<div id="fileUploadList"></div>
					<hr>
					<button type="submit" class="btn btn-primary pull-right" id="saveExperiment">Upload files to experiment</button>
				</form>
			</div>
		</div>
</div>
