<div>Shit should be below this</div>
<div class="container experiment-container" > <!--style="display:none;"-->
</div>
<div>Shit should be above this</div>

<form class="form-inline container" role="form" id="upload_form">
	<div class="search-toolbar">
		<div>
			<div class="input-group">
			<input id="existing_experiment_field" type="text" class="form-control" value="<experiment-id>" placeholder="Experiment name">
			<span class="input-group-btn">
				<button id="add_button" class="btn btn-default" type="button" disabled="disabled">
					<span class="glyphicon glyphicon-edit"></span> 
					Add to existing experiment
				</button>
			</div>
		</div>
		<div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" id="CreateExperiment">
					<span class="glyphicon glyphicon-plus-sign"></span> 
					Create new experiment
				</button>
			</div>
		</div>
	</div>
</form>


