<form class="form-inline" role="form" style="width:80%; margin: 40px auto">
	<div>
	<button type="button" class="btn btn-primary">Create Experiment</button>
	<button type="button" class="btn btn-primary">Add files to existing experiment</button>
	</div>	
	<!--<div class="form-group">
		<input type="file" multiple id="inputFile" value="Browse"/>
	</div> -->
	<div id="input-container" style="margin: 40px auto" >
		<!--<div class="table-responsive">
  			<table class="table">
			<button type="button" class="btn btn-primary">Hej</button>
			<button type="button" class="btn btn-primary">På</button>
			<button type="button" class="btn btn-primary">Dig!</button>
			</table> 
		</div>	-->
	</div>
</form>
