<tr class="title-row"> <!-- MAIN EXPERIMENT ROW -->
	<td class="expand-cell">
		<button class="expand-button expand-experiment-button glyphicon"></button>
	</td>
	<td class="check-cell">
		<!--<input class="checked-input" type="checkbox">-->
	</td>
	<td>
		<span><%- experiment.get("name") %></span>
	</td>
	<% annotations.each(function(annotation) { %>  
		<td>
			<span><%- experiment.getAnnotation(annotation.attributes.name).value %></span>
		</td>
	<% }); %>
</tr>

<tr class="raw-expand-row expand-row">	<!-- RAW EXPANSION ROW -->
	<td class="expand-cell">
		<button class="expand-button expand-file-button glyphicon" data-filetype="raw"></button>
	</td>
	<td class="check-cell">
		<!--<input class="checked-input" type="checkbox">-->
	</td>
	<td colspan="<%- annotations.length + 1 %>">
		<span>Raw Files</span>
	</td>
</tr>
<tr class="raw-table-row table-row">
	<td colspan="<%- annotations.length + 3 %>">
		<table class="table">
			<thead></thead>
			<tbody class="js-Raw-container"></tbody>
		</table>
	</td>
</tr>
<tr class="profile-expand-row expand-row">	<!-- PROFILE EXPANSION ROW -->
	<td class="expand-cell">
		<button class="expand-button expand-file-button glyphicon" data-filetype="profile"></button>
	</td>
	<td class="check-cell">
		<!--<input class="checked-input" type="checkbox">-->
	</td>
	<td colspan="<%- annotations.length + 1 %>">
		<span>Profile Files</span>
	</td>
</tr>
<tr class="profile-table-row table-row">
	<td colspan="<%- annotations.length + 3 %>">
		<table class="table">
			<thead></thead>
			<tbody class="js-Profile-container"></tbody>
		</table>
	</td>
</tr>
<tr class="region-expand-row expand-row">	<!-- REGION EXPANSION ROW -->
	<td class="expand-cell">
		<button class="expand-button expand-file-button glyphicon" data-filetype="region"></button>
	</td>
	<td class="check-cell">
		<!--<input class="checked-input" type="checkbox">-->
	</td>
	<td colspan="<%- annotations.length + 1 %>">
		<span>Region Files</span>
	</td>
</tr>
<tr class="region-table-row table-row">
	<td colspan="<%- annotations.length + 3 %>">
		<table class="table">
			<thead></thead>
			<tbody class="js-Region-container"></tbody>
		</table>
	</td>
</tr>