<tr class="title-row"> <!-- MAIN EXPERIMENT ROW -->
	<td>
		<button class="expand-button expand-experiment-button glyphicon"></button>
	</td>
	<td>
		<input class="checked-input" type="checkbox">
	</td>
	<td>
		<span><%- experiment.get("name") %></span>
	</td>
	<% annotations.each(function(annotation) { %>  
		<td>
			<span><%- experiment.getAnnotation(annotation.attributes.id).value %></span>
		</td>
	<% }); %>
</tr>

<tr class="raw-expand-row expand-row">	<!-- RAW EXPANSION ROW -->
	<td>
		<button class="expand-button expand-file-button glyphicon" data-filetype="raw"></button>
	</td>
	<td>
		<input class="checked-input" type="checkbox">
	</td>
	<td colspan="<%- annotations.length + 1 %>">
		<span>Raw Files</span>
	</td>
</tr>
<tr class="raw-header-row header-row">	<!-- RAW HEADER ROW -->
	<td colspan="2">
		
	</td>
	<td>
		<span>Filename</span>
	</td>
	<td>
		<span>Size</span>
	</td>
	<td>
		<span>Uploaded date</span>
	</td>
	<td colspan="<%- annotations.length - 2 %>">
		<span>Uploaded by</span>
	</td>
</tr>

<% _.each(experiment.get("files"), function(file) { %>
	<% if(file.type == "raw") { %>
		<tr class="raw-file-row file-row" data-id="<%- file.id %>" data-url="<%- file.URL %>">
			<td>
				
			</td>
			<td>
				<input class="checked-input" type="checkbox">
			</td>
			<td>
				<span><%- file.name %></span>
			</td>
			<td>
				<span><%- file.size %></span>
			</td>
			<td>
				<span><%- file.date %></span>
			</td>
			<td colspan="<%- annotations.length - 2 %>">
				<span><%- file.uploadedBy %></span>
			</td>
		</tr>
	<% } %>
<% }); %>
<tr class="profile-expand-row expand-row">	<!-- PROFILE EXPANSION ROW -->
	<td>
		<button class="expand-button expand-file-button glyphicon" data-filetype="profile"></button>
	</td>
	<td>
		<input class="checked-input" type="checkbox">
	</td>
	<td colspan="<%- annotations.length + 1 %>">
		<span>Profile Files</span>
	</td>
</tr>

<tr class="region-expand-row expand-row">	<!-- REGION EXPANSION ROW -->
	<td>
		<button class="expand-button expand-file-button glyphicon" data-filetype="region"></button>
	</td>
	<td>
		<input class="checked-input" type="checkbox">
	</td>
	<td colspan="<%- annotations.length + 1 %>">
		<span>Region Files</span>
	</td>
</tr>
