<form class="form-inline container" role="form" id="search_form">
	<div class="search-toolbar">
		<div>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Type query" id="search_input" />
			<span class="input-group-btn">
				<button type="submit" disabled="disabled" class="btn btn-default" id="search_button">
					<span class="glyphicon glyphicon-search"></span> Search
				</button>
			</span>
			</div>
		</div>
		<div>
			<div class="btn-group">
				<button type="button" disabled="disabled" class="btn btn-default" id="download_button">
					<span class="glyphicon glyphicon-download"></span> download
				</button>
				<button type="button" disabled ="disabled" class="btn btn-default" id="process_button">
					<span class="glyphicon glyphicon-compressed"></span> process
				</button>
			</div>
		</div>

		
	</div>
</form>
<div class="container">
	<div id="results_container" class="panel panel-default">
		<div class="panel-heading">Search Results</div>

	</div>
</div>

