<form class="form-inline" role="form" style="width:80%; margin: 40px auto" id="search_form">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Type query" id="search_input" />
		<span class="input-group-btn">
			<button type="button" disabled="disabled" class="btn btn-default" id="search_button">
				<span class="glyphicon glyphicon-search"></span>Search
			</button>
		</span>
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" id="download_button" style="margin-left: 10%">
				<span class="glyphicon glyphicon-download"></span>download
			</button>
			<button type="button" class="btn btn-default" id="process_button">
				<span class="glyphicon glyphicon-compressed"></span>process
			</button>
		</span>
	</div>
</form>

